python-dotenv==1.0.1
llama-index==0.10.58
arize-phoenix==4.14.1
qdrant-client==1.10.1
llama-index-llms-openai==0.1.27
llama-index-llms-ollama==0.2.0
llama-index-embeddings-openai==0.1.11
llama-index-embeddings-ollama==0.1.2
llama-index-vector-stores-qdrant==0.2.14
llama-index-callbacks-arize-phoenix==0.1.6