langchain-qdrant==0.1.4
langchain-community==0.3.3
langchain-ollama==0.2.0
tiktoken==0.8.0
langchainhub==0.1.21
langchain==0.3.4
langgraph==0.2.39
tavily-python==0.5.0
sentence-transformers==3.2.1
langchain-huggingface==0.1.0
qdrant-client==1.12.0
fastembed==0.3.6
PyMuPDF==1.24.11
python-dotenv==1.0.1
litserve==0.2.3